<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
   "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
  <style type="text/css">
  hr.spacer {
    background-color: red;
    color: red;
  } 
  </style>
  <title>CVRA Race Circuit</title>
</head>
<body>
<center>
  <a href="submit.pl">Submit Your Race Points</a> <a href="submit.pl"><img src="star.gif" width="25" height="26" alt="Submit Your Race Points" border="0"></a> |
  <a href="standings.pl">Standings</a> |
  <a href="racelist.pl">Eligible Races</a> |
  <a href="rules.pl">Rules</a>
</center>
