<TMPL_INCLUDE header.tmpl>

<p>Once again, CVRA will sponsor the Race Circuit. We hope this will get you to hit the bricks training, enjoy seeing most of east central Iowa, check the standings to see where you stack up against your bitter rival/best friend and most of all, enhance the fun of running...just a little.</p>

<p><a href="racelist.pl">Eligible races</a> in which you run/walk or volunteer will earn you points.</p>

<p>Rules and Eligibility requirements:</p>

<ol>
<li>The circuit is free to join.  You must be a current CVRA club member. If your membership has expired or you want to join, see the <a href="http://cvra.net/membership">membership page</a>.</li>
<li>All runners will be assigned to ten year age groups, Male/Female. See the <a href="standings.pl">results</a> for details on the specific age groups.</li>
<li>After each event in which you partake, you will need to submit your <a href="submit.pl">race information</a> for that event. You will receive a confirmation when your info has been submitted correctly. Yes, most of this will be on the honor system.</li>
<li>Your personal info from the submitted "race record" will automatically be entered to a <a href="standings.pl">standings</a> page. There you will find yourself placed in the correct age group with your points earned. You will also be able to view who is ahead and behind you. The results will be updated on a real time basis.</li>
<li>Awards/prizes will be based on the top 2 males/females in each age group. To be eligible for an award you must accumulate at least 100 points during the year.  An overall male and female winner will also be awarded. Overall winners are not eligible for age group awards. The prizes have not been determined but we will try and make them meaningful.</li>
<li>Points are earned for participation in the race (finish time does not matter) or volunteering. The number of points an individual race is worth is based on a graduated scale of the race's distance. See the <a href="racelist.pl">list of races</a> for the exact amount of points. <b>Participation in a CVRA event is double points.</b></li>
<li>Points cannot be earned for both running and volunteering at a single event. If you performed both activities, pick only one for which to submit results.</li>
<li>Tie breakers will be determined by the most volunteer points.</li>
</ol>

<TMPL_INCLUDE footer.tmpl>
